
<head>
<!-- TO DO: 
        - Currently prints as a list; modify to print nicer.    
-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
            $('a#process_input').bind('click', function() {
            $.post('/generate_pseudowords', {  
                num: $('input[name="num"]').val(),
                ngram: $('input[name="ngram"]:checked').val(),
            }, function(data) {
                $('#result').text(data.result);
            });
            return false;
            });
        });
        
    </script>
</head>

<div class="generator">
    <form class="generator-form">
        <div class="select-n">
            <p class="form-prompt"> Number of pseudowords to generate:</p>
            <div class="range form-item">
                <input type="range" min="1" max="100" value="1" id="range" name="num"/> 
                <div class="value">1</div>
            </div>
        </div>
        <hr class="solid">
        <div class ="select-ngram">
            <p class="nobr form-prompt" style="grid-column: 1 / -1;"> n-gram model:</p>
            <div class="radio-button-form">
                <!-- <p class="nobr form-prompt" style="grid-column: 1 / -1;"> n-gram:</p> -->
                <div class="radio-pair">
                    <input type="radio" id="ngram_selection" name="ngram" value="2" checked/>
                    <label class="radio-label" for="html">2</label>
                </div>
                <div class="radio-pair">
                    <input type="radio" id="ngram_selection" name="ngram" value="3">
                    <label class="radio-label" for="html">3</label>
                </div>
                <div class="radio-pair">
                    <input type="radio" id="ngram_selection" name="ngram" value="4">
                    <label class="radio-label" for="html">4</label>
                </div>
                <div class="radio-pair">
                    <input type="radio" id="ngram_selection" name="ngram" value="5">
                    <label class="radio-label" for="html">5</label>
                </div>
            </div>
        </div>
        <hr class="solid">
        <div class="button-container">
            <div class="generator-button">
                <a href=# id=process_input><button type="submit" value="Submit" class="button-74" role="button">Generate</button></a>
            </div>
        </div>
    </form>

    <div class="generator-result-title">
        <h2>Result</h2>
    </div>
    <div class="generator-result">
        <p id=result> {{ result }}</p>
    </div>
</div>

<script type="text/javascript" src="static/js/generator.js"></script>