/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&display=swap');
.nobr { white-space:nowrap; }

:root {
  --purple-pastel: #c6bef8;
  --green-pastel: #BAFCA2;
  --soft-peach: #FFFBEE; 
  --primary-pink: #FF8ACD;
  --secondary-pink: #FFC6E7;
  --col-gap: 32px;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Bricolage Grotesque, sans-serif;
    background-color: var(--soft-peach);
    height: 100%;
  }
  

  /* 3-COL GRID SETTINGS */
  @media (min-width: 0em) {
    .wrapper {
      display: grid;
      grid-template-columns: minmax(0, 1fr) 4fr minmax(0, 1fr);
    }
  
    .wrapper > * {
      /* Applies to anything inside the wrapper, unless otherwise specified */
      grid-column: 2;
    }

  }

/* Page Content */
.content {
  min-height: 50vh;
}

.about {
  display: inline-flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;

}
/* Typeface settings */
.content-text {
  font-size: 1.0rem;
  text-align: center;
  font-weight: 100;
  line-height: 1.4;
  margin-top: 20px;
  margin-bottom: 20px;

  a,
  a:visited {
    color: #7a6ec3 !important;
    font-weight: 400;
    /* filter: brightness(85%) !important; */
    /* text-decoration: underline;  */
  }
}

/* Page Subtitle */
.subtitle {
  font-size: 3.5vw;

  h2 {
    margin: 0;
  }
}

/*  Generator CSS */
.generator {
  font-size: calc(15px + 0.390625vw);
  font-weight: 100;
  display: grid;
  grid-template-columns: 1fr;

}

hr.solid {
  border-top: 1px solid #000000;
  grid-column: 1 / -1;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;

}

.generator-form {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  /* gap: 0.5em; */
  min-height: 150px;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 1px solid black;
  /* padding: 15px; */
}

@media (max-width: 650px) {
  .generator-form {
    grid-template-columns: 1fr;
  }
}
.generator-button {
  width: 100%;
  display: inline-block;

}

.button-container {
  grid-column: 1 / -1;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}
.generator-result {
  background-color: #E2FFD7;
  font-size: 16px;
  min-height: 50px;
  text-overflow: ellipsis;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid black;
  padding: 10px;
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;

}

p#result {
  margin-top: 0;
  margin-bottom: 0;
}

.generator-result-title {
  h2 {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
  }
}
.select-n {
  /* grid-column: 1 / 4; */
  grid-column: 1 / -1;
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.select-ngram {
  grid-column: 1 / -1;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.radio-button-form {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  grid-auto-columns:"max-content";
  width: 50%;
  padding-top: 10px;
}

.radio-pair {
  display: inline-flex;
  align-items: center;

}

.radio-label {
  padding-left:10px;
  font-size: 14px;
}
input[type="radio"] {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 50%;
  appearance: none;
  background-color: var(--soft-peach);
  outline: none;
}

input[type="radio"]:not(:disabled):checked {
  border-color: black;
  background-color: black;
  background-clip: content-box;
  padding: 2px;
  background-image: radial-gradient(
    circle,
    var(--green-pastel) 0%,
    var(--green-pastel) 50%,
    transparent 60%,
    transparent 100%
  );
}

.form-prompt {
  font-weight: 400;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}

/* Range Input CSS */
.form-item {
  min-height: 3rem;
  display: flex;
  align-items: center;
}

.value {
  margin-left:0.8em;
  margin-right: 0.3em;
  font-size: 14px;
}
/* ------------------- */


/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: #ccc;
  cursor: pointer;
  width: 100%;
  height: 0.4rem;
  border-radius: 1.5rem;
  box-sizing: content-box;
  display: block;
  padding: 0;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: transparent;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -7px; /* Centers thumb on the track */
  background-color: var(--green-pastel);
  border: 1px solid #000000;
  border-radius: 1.5rem;
  height: 1.3rem;
  width: 1.3rem;
  transition: .2s ease-in-out;

}

input[type="range"]:focus::-webkit-slider-thumb { /* Hover */
  /* outline: 3px solid #808080;
  outline-offset: 0.125rem; */
  outline: none;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: transparent;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #808080;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
  transition: .2s ease-in-out;

}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}

/* --------------- */

/* Generator Button CSS */
.button-74 {
  font-family: Bricolage Grotesque, sans-serif;
  background-color: var(--green-pastel);
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: #000000 4px 4px 0 0;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: 100;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    /* min-width: 25rem; */
    padding: 0 25px;
  }
}


/* About Page Definition */
.definition-wrapper {
  display: grid;
  grid-template-columns:     
    3fr
    1fr
    3fr;
  place-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 0.875rem;
  /* calc(15px + 0.390625vw); */

}

.definition-title {
  font-weight: 400;
}

.definition-box {
  padding: 15px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* Brutalist-style Card with graphic-style shadow */
.card {
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: .9em;
  width: 13rem;
  height: 7rem;
  background-color: #c6bef8;
  border-radius: 0.6rem;
  border: 0.2vmin solid #05060f;
  box-shadow: 0.3rem 0.4rem #05060f;

  p {
    font-weight: 100;
  }
}

/* Icon Settings */
.icon {
  display: flex;
  justify-content: center;
}

.fa-solid {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 4vw !important;
  margin-left: 8px !important;
}

/* Responsive definition settings */
@media (max-width: 40em) {
  .definition-wrapper {
    grid-template-columns:     
    1fr;
    grid-row-gap: 25px;

  }

  .fa-solid {
    margin-left: 0px !important;
  }

}
/* HEADER SECTION */

.header {
  /* grid-column: 1 / -1; */
  grid-column: 2 / 3;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 5vw;
  text-transform: uppercase;

  h1 {
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  a,
  a:visited {
    color: #000000;
    text-decoration: none; 
  }
}

/* FOOTER SECTION */
.footer {
  grid-column: 1 / -1;
  height: 10vh;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.navigation {
  justify-self: center;

  a,
  a:visited {
    color: #000000;
    text-decoration: none; 
    background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom / 0 var(--bg-h);
    padding-bottom: 2px;
    --bg-h: 2px;
  }
  a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 5px;
  }
}

.stylized-links {
  a,
  a:visited {
    color: #000000;
    text-decoration: none; 
    background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom / 0 var(--bg-h);
    padding-bottom: 2px;
    --bg-h: 2px;
  }
  a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 5px;
  }
}

/* RESPONSIVE CSS SETTINGS */
@media (max-width: 40em) {
  .definition-wrapper {
    grid-template-columns:     
    1fr;
    grid-row-gap: 25px;

  }

  .fa-solid {
    margin-left: 0px !important;
  }

}